
body,p,h1,h3,h4,h5,h6,h2,ul,dl,ol,dd,hr,input,textarea,td,th,fieldset,option,legend,button{margin:0; padding:0;}
li{list-style: none;}
a{text-decoration: none; color: #666;}
body{font-size:14px; font-family: "微软雅黑";}
h1,h3,h4,h5,h6,h2,b,strong{font-weight: normal;}
i,em{font-style: normal;}
input,a,area{outline: none;}
img{display: block; border:none}
table{border-collapse: collapse;}
.clear:after{content: ".";clear:both;height:0;display:block;visibility:hidden;}




html{font-size:18.52vw;}
body{font-size:0.14rem;}
/*header*/
